*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #eeeeee;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

div {
    background: #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 15px;
    background: #cccccc;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: #6bb868;
    color: #fff;
    margin-top: 10px;
}

h1 {
    font-weight: bold;
    background: #6bb868;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

h2 {
    font-style: italic;
    color: #6bb868;
    margin-bottom: 10px;
}