:root {
    --primary-color: #6bb868;
    --secondary-color: #333333;
    --background-color: #eeeeee;
    --text-color: #333333;
    --header-background: #6bb868;
    --footer-background: #6bb868;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Element Styles */
header {
    background-color: var(--primary-color);
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 0px;
}

section {
    background: #dddddd;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%
}

div {
    margin-bottom: 15px;
    padding: 10px;
    background: #cccccc;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--primary-color)
    color: #fff;
    margin-top: 10px;
}

h1 {
    font-weight: bold;
    background: var(--primary-color)
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

h2 {
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Class Styles */

.navigation {
    list-style-type: none;
    background-color: #333333;
    padding: 0;
    margin: 0;
    height: 45px;
}     

.nav-item {
    float: left;
}

.nav-item a {
    height: 45px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #575757;
}